<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:tx="http://www.springframework.org/schema/tx" 
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:task="http://www.springframework.org/schema/task"
     xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/mvc   
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/cache   
	http://www.springframework.org/schema/cache/spring-cache.xsd"
>
	

 	<!-- 开启注解模式 -->
	<mvc:annotation-driven />
	
	<!-- 自动扫描(自动注入),不扫描带有@Controller注解的类。因为这些类已经随容器启动时,在servlet-context中扫描过一遍了 -->  
	<!--context:component-scan base-package="com.awh.controller">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  
	</context:component-scan-->
	<!-- 把标记了@Controller注解的类转换为bean -->            
    <context:component-scan base-package="com.awh.controller" />
	
	<!-- 扫描资源文件 -->
	<!--1. images、js、css 属于web网页的样式和结构 -->
	<!--2. m-images、m-js、m-css 属于m手机网页的样式和结构-->
	<mvc:resources location="/images/" mapping="/images/**"/>  
 	<mvc:resources location="/js/" mapping="/js/**"/>  
 	<mvc:resources location="/css/" mapping="/css/**"/>  
 	<mvc:resources location="/WEB-INF/ftl/" mapping="/WEB-INF/ftl/**"/>  
 	
 	<mvc:resources location="/m/m-images/" mapping="/m/m-images/**"/>  
 	<mvc:resources location="/m/m-js/" mapping="/m/m-js/**"/>  
 	<mvc:resources location="/m/m-css/" mapping="/m/m-css/**"/>  


	<!-- To enable @RequestMapping process on type level and method level -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!--bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
		    <map>
		        <entry key="xml" value="application/xml"/>
		        <entry key="html" value="text/html"/>
		    </map>
		</property>
		<property name="viewResolvers">
		    <list>
		        <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
		        <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
					<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
					<property name="prefix" value="/WEB-INF/ftl/"/>
					<property name="suffix" value=".ftl"/>
				</bean>
		    </list>
		</property>
	</bean -->
	
     <!-- 配置freeMarker的模板路径 -->  
     <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPath" value="WEB-INF/ftl/" />  
        <property name="defaultEncoding" value="UTF-8" />  
     </bean>
     <!-- freemarker视图解析器 -->  
     <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
        <property name="suffix" value=".ftl" />  
        <property name="contentType" value="text/html;charset=UTF-8" />  
        <!-- 此变量值为pageContext.request, 页面使用方法：request.contextPath -->  
        <property name="requestContextAttribute" value="request" />  
     </bean>
	
</beans>